@if (!securityService.askPassword && !securityService.isOpen) {
    <button (click)="securityService.clickSecurityButton(1)" class="button a">button</button>
    <button (click)="securityService.clickSecurityButton(2)" class="button b">button</button>
    <button (click)="securityService.clickSecurityButton(3)" class="button c">button</button>
    <button (click)="securityService.clickSecurityButton(4)" class="button d">button</button>
} @else if (securityService.askPassword) {
    <div class="askPassword">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <input id="password" formControlName="password" placeholder="Password" />
            @if (myForm.get('password')?.invalid && myForm.get('password')?.touched) {
                <div>Password is required</div>
            }
            <button type="submit" [disabled]="myForm.invalid">Submit</button>
        </form> 
    </div>
} @else if (securityService.isOpen) {
    <div class="open">
        <p>Open</p>
        <button (click)="securityService.toggleOpen()">close</button>
    </div>
}