<div class="d-sm-none mb-4">
    <button class="w-100 btn btn-outline-primary d-block mb-2" routerLinkActive="btn-primary text-light" [routerLink]="['/movie']">Watch movie</button>
    <button class="w-100 btn btn-outline-primary d-block mb-2" routerLinkActive="btn-primary text-light" [routerLink]="['/slider']">Watch fotos</button>
    <button class="w-100 btn btn-outline-primary d-block mb-2" routerLinkActive="btn-primary text-light" [routerLink]="['/renovations']">Renovations</button>
</div>
<div class="row d-none d-sm-flex mb-4">
    <div class="col-12 col-sm-4"><button class="w-100 btn btn-outline-primary" routerLinkActive="btn-primary text-light" [routerLink]="['/movie']">Watch movie</button></div>    
    <div class="col-12 col-sm-4"><button class="w-100 btn btn-outline-primary" routerLinkActive="btn-primary text-light" [routerLink]="['/slider']">Watch fotos</button></div> 
    <div class="col-12 col-sm-4"><button class="w-100 btn btn-outline-primary" routerLinkActive="btn-primary text-light" [routerLink]="['/renovations']">Renovations</button></div> 
</div>