<h1>Documenten makelaar</h1>
<div class="row">
    <div class="col-12 col-md-4 col-lg-12">
        <app-document renovationDocument="assets/docs_immo/Asbestattest_Scheperstraat35.pdf"/>
    </div>
    <div class="col-12 col-md-4 col-lg-12">
        <app-document renovationDocument="assets/docs_immo/ElektrischeKeuring_Scheperstraat35.pdf"/>
    </div>
    <div class="col-12 col-md-4 col-lg-12">
        <app-document renovationDocument="assets/docs_immo/EPC_Scheperstraat35.pdf"/>
    </div>
</div>