<p>Energiezuinige gezinswoning met dubbele garage en werkhuis te Beerse</p>
<p>EPC 149 kWh/m² | 4 slaapkamers | 100 m² bijgebouw</p>
<p>We betreden de woning via de inkomhal met apart gastentoilet en toegang tot de leefruimte. </p>
<p>De grote leefruimte omvat zithoek, eetkamer en open keuken. Deze werd in 2017 gerenoveerd en is voorzien van inductievuur, dampkap, ijskast, vaatwasser, oven, combi-oven en dubbele spoelbak. Naast de keuken vinden we de grote berging/wasplaats. De pelletkachel en airco-unit in de leefruimte zorgen samen met de zonnepanelen voor een efficiente en goedkopere temperatuurregeling op de benedenverdieping.</p>
<p>Op de 1e verdieping vinden we 3 slaapkamers, waarvan 1 met dressing en de badkamer, uitgerust met douchecabine, bad en enkele wastafel in meubel. De master bedroom is bovendien voorzien van airco-unit.</p>
<p>Via de vaste trap in de nachthal komen we op de zolder waar we nog een slaapkamer en een berging treffen.</p>
<p>Op het dak liggen 16 zonnepanelen, goed voor 3.500 kW, met groenestroomcertificaten (270 €/stuk tem 2030)!!</p>
<p>Achteraan in de tuin staat een bijgebouw (100 m²) met dubbele garage.</p>
<p>Algemeen:</p>
<ul>
    <li>EPC 149 kWh/m²</li>
    <li>4 slaapkamers</li>
    <li>16 zonnepanelen</li>
    <li>100 m² werkhuis/garage</li>
</ul>