<h1>Renovations</h1>
<div class="row">
    <div class="col-12 col-md-4 col-lg-12">
        <app-document renovationDocument="assets/documenten/verbouwingen/renovatie_badkamer.pdf"/>
    </div>
    <div class="col-12 col-md-4 col-lg-12">
        <app-document renovationDocument="assets/documenten/verbouwingen/ramen_tuinhuis.pdf"/>
    </div>
    <div class="col-12 col-md-4 col-lg-12">
        <app-document renovationDocument="assets/documenten/verbouwingen/verbouwingen_elektriciteit.pdf"/>
    </div>
</div>