<h1>Renovaties</h1>
@for (documents of documentsService.documentsRenovations; track $index) {
    <div class="row">
        <div class="col-12">
            <h2>{{documents.title}}</h2>
        </div>
        <div class="col-12">
            <app-document [renovationDocument]="documents.information.filename"/>
        </div>
        @if (documents.quotes.length > 0) {
            <div class="col-12 mb-2 mt-2">
                <button (click)="documents.showQuotes = !documents.showQuotes" class="btn btn-primary btn-block w-100">
                    @if (documents.showQuotes) {
                        Sluit offertes
                    } @else {
                        Open offertes
                    }
                </button>
            </div>
            @if (documents.showQuotes) {
                @for (quote of documents.quotes; track $index) {
                    <div class="col-12 col-md-6 col-lg-12">
                        <app-document [renovationDocument]="quote.filename"/>
                    </div>
                }
            }
        }
    </div>
}