<h1>Renovaties</h1>
<div class="row">
    <div class="col-12">
        <h2>Badkamer</h2>
    </div>
    <div class="col-12 col-md-6 col-lg-12">
        <app-document renovationDocument="assets/documenten/renovatie/renovatie_badkamer.pdf"/>
    </div>
    @if (!showBathroomQuote) {
        <div class="col-12">
            <button (click)="setBathroomQuote(true)">Open offertes</button>
        </div>
    }
    <div class="col-12 col-md-6 col-lg-12" [ngClass]="{'d-none': !showBathroomQuote}">
        <app-document renovationDocument="assets/documenten/renovatie/renovatie_badkamer_offerte_STG.pdf"/>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Elektriciteit</h2>
    </div>
    <div class="col-12 col-md-12 col-lg-12">
        <app-document renovationDocument="assets/documenten/renovatie/renovatie_elektriciteit.pdf"/>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Ramen tuinhuis</h2>
    </div>
    <div class="col-12">
        <app-document renovationDocument="assets/documenten/renovatie/bouw_ramen_tuinhuis.pdf"/>
    </div>
    @if (!showWindowsQuote) {
        <div class="col-12">
            <button (click)="setWindowQuote(true)">Open offertes</button>
        </div>
    }
    <div class="col-12 col-sm-4 col-lg-12" [ngClass]="{'d-none': !showWindowsQuote}">
        <app-document renovationDocument="assets/documenten/renovatie/bouw_ramen_tuinhuis_offerte_raamSelect.pdf"/>
    </div>
    <div class="col-12 col-sm-4 col-lg-12" [ngClass]="{'d-none': !showWindowsQuote}">
        <app-document renovationDocument="assets/documenten/renovatie/bouw_ramen_tuinhuis_offerte_stebo(winsol).pdf"/>
    </div>
    <div class="col-12 col-sm-4 col-lg-12" [ngClass]="{'d-none': !showWindowsQuote}">
        <app-document renovationDocument="assets/documenten/renovatie/bouw_auto_garagepoorten_offerte_stebo(winsol).pdf"/>
    </div>
</div>